<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Olive | Healthcare Automation</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='base.css') }}">

    {% block head %}
    {% endblock head %}

</head>

<body>

<section id="topbar">

    <div class="boxed flxc">
        <div class="flxc" id="lftwrap">
            <a href="{{ url_for('base.home') }}">
                <div id="micon">

                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.19 87.45">
                        <defs>
                            <style>.cls-1{fill:#651fff;}</style>
                        </defs>
                        <title>olive_vector</title>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="OLIVE_JDM" data-name="OLIVE JDM">
                                <path class="cls-1" d="M77.63,1c0,11.45-8,20.87-19.62,20.87-4.65,0-7.15-2.79-14.75-2.79a25.21,25.21,0,1,0,17.32,7,25.17,25.17,0,0,0,16.63-8.61A43.27,43.27,0,1,1,42.81,1Z"></path>
                                <rect class="cls-1" x="93.16" y="0.97" width="17.99" height="85.16"></rect>
                                <path class="cls-1" d="M129.54,0c-6.36,0-11.4,4.68-11.4,11s5,10.91,11.4,10.91,11.4-4.67,11.4-10.91a11.09,11.09,0,0,0-11.4-11"></path>
                                <rect class="cls-1" x="120.54" y="29.79" width="17.99" height="56.33"></rect>
                                <polygon class="cls-1" points="191.08 29.8 175.42 65.48 159.92 29.8 141.91 29.8 166.42 86.13 184.42 86.13 209.09 29.8 191.08 29.8"></polygon>
                                <path class="cls-1" d="M237,27.8c-40.75,0-40.74,59.65.84,59.65,13.89,0,24.62-7.19,27.57-18.38H247.24C243,75.8,227,75.14,224.19,62.74h41.62C268.62,41.25,255.55,27.8,237,27.8ZM224,52.51c1.54-7.21,6.42-10.89,13-10.89s11.22,3.61,12.21,10.89Z"></path>
                            </g>
                        </g>
                    </svg>

                </div>
            </a>
        </div>
    </div>

</section>

<div class="login-panel" style="position: absolute;">
    {% block content %}
    {% endblock %}
</div>


<footer style="position: absolute; bottom: 0; width: 100%; text-align: center; padding-bottom: 30px;">
    <p style="color: #651fff;">
        <i>*You can find the GitHub repo for this project
            <a href="https://github.com/jordanmslack/healthcare-automation"><b>here.</b></a>
        </i>
    </p>
</footer>

</body>

</html>
